﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    .btn a {
        color: white;
        text-decoration: none
    }

    body {
        background-color: #F1F1F1;
    }

    .parent {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .child {
        height: auto;
        width: 150px;
        margin: 10px auto;
    }
</style>

<div class="parent btn-group-lg text-center">

    <h1 class="display-4">SmartBudget</h1>

    <div class="child btn btn-success">
        @Html.ActionLink("Login", "LoginView")
    </div>

    <div class="child btn btn-success">
        @Html.ActionLink("Budget Management (Temp)", "BudgetView")
    </div>
</div>